@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@layer base {
    :root {
        font-family: 'DM Sans', sans-serif !important;
    }
    .font-mono {
        font-family: 'Geist Mono', monospace !important;
    }
    .font-title {
        font-family: 'Playfair Display', serif !important;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 43 46% 95%;
        --card: 43 46% 95%;
        --popover: 43 46% 95%;
        --sidebar: 43 46% 95%;
        --sidebar-background: 43 46% 95%;
        --foreground: 42 3% 10%;
        --card-foreground: 42 3% 10%;
        --popover-foreground: 42 3% 10%;
        --sidebar-foreground: 42 3% 10%;
        --primary: 43 61% 25%;
        --sidebar-primary: 43 61% 25%;
        --primary-foreground: 0 0% 95%;
        --sidebar-primary-foreground: 0 0% 95%;
        --secondary: 43 26% 85%;
        --accent: 43 26% 85%;
        --sidebar-accent: 43 26% 85%;
        --secondary-foreground: 0 0% 10%;
        --accent-foreground: 0 0% 10%;
        --sidebar-accent-foreground: 0 0% 10%;
        --muted: 43 17% 87%;
        --muted-foreground: 42 5% 50%;
        --destructive: 0 85% 51%;
        --destructive-foreground: 0 0% 95%;
        --border: 43 29% 78%;
        --sidebar-border: 43 29% 78%;
        --ring: 43 52% 73%;
        --sidebar-ring: 43 52% 73%;
        --input: 43 26% 78%;
        --chart-1: 43 61% 25%;
        --chart-2: 38 57% 30%;
        --chart-3: 53 54% 30%;
        --chart-4: 28 51% 30%;
        --chart-5: 43 48% 30%;
        --radius: 0rem;
    }

    .dark {
        --background: 42 10% 10%;
        --card: 42 10% 10%;
        --popover: 42 10% 10%;
        --sidebar: 42 10% 10%;
        --sidebar-background: 42 10% 10%;
        --foreground: 43 5% 95%;
        --card-foreground: 43 5% 95%;
        --popover-foreground: 43 5% 95%;
        --sidebar-foreground: 43 5% 95%;
        --primary: 43 61% 46%;
        --sidebar-primary: 43 61% 46%;
        --primary-foreground: 0 0% 95%;
        --sidebar-primary-foreground: 0 0% 95%;
        --secondary: 42 24% 17%;
        --accent: 42 24% 17%;
        --sidebar-accent: 42 24% 17%;
        --secondary-foreground: 0 0% 95%;
        --accent-foreground: 0 0% 95%;
        --sidebar-accent-foreground: 0 0% 95%;
        --muted: 42 16% 22%;
        --muted-foreground: 42 7% 60%;
        --destructive: 0 85% 54%;
        --destructive-foreground: 0 0% 95%;
        --border: 42 35% 21%;
        --sidebar-border: 42 35% 21%;
        --ring: 43 62% 26%;
        --sidebar-ring: 43 62% 26%;
        --input: 43 31% 21%;
        --chart-1: 43 61% 46%;
        --chart-2: 38 57% 49%;
        --chart-3: 53 54% 52%;
        --chart-4: 28 51% 55%;
        --chart-5: 43 48% 58%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

code,
pre,
tt,
kbd,
samp {
    font-family: 'Geist Mono', monospace;
}
